{% extends "web-templates/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="page-header col-lg-10 col-lg-offset-1">
            <h1>Yeni İlan Girişi<small class="pull-right">6 / 10</small> </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-1 col-sm-8">
            <form>
                <div class="form-group">
                    <label for="headline">İlan başlığı</label>
                    <input type="text" class="form-control" id="headline" placeholder="Sr. Interface Developer">
                </div>
                <div class="form-group">
                    <label for="location">İşin Konumu</label>
                    <input type="text" class="form-control" id="location" placeholder="Beyoğlu / İstanbul">
                </div>

                <div class="form-group">
                    <label for="short_description">Kısa açıklama</label>
                    <textarea class="form-control" id="short_description" rows="3"></textarea>
                    <span class="help-block">İlanın özet kartında görüntülenecek olan 255 karakteri geçmeyecek bir kısa açıklama girin (HTML kodları desteklenmez)</span>
                </div>

                <div class="form-group">
                    <label for="long_description">Detaylı açıklama</label>
                    <textarea class="form-control" id="long_description" rows="3"></textarea>
                    <span class="help-block">İlanın detay sayfasında görüntülenecek detaylı açıklamayı girin. (HTML kodları desteklenmez)</span>
                </div>

                <div class="form-group">
                    <label for="salary_begin">Maaş aralığını girin</label>
                    <div class="input-group block">
                        <input type="text" class="form-control" id="salary_begin" placeholder="0.000"/>
                        <span class="input-group-addon">-</span>
                        <input type="text" class="form-control" id="salary_end" placeholder="0.000"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="experience">Kaç yıllık deneyim arıyorsunuz?</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="experience" placeholder="Örn. 4">
                        <div class="input-group-addon">YIL</div>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <label for="start">Arayışınızın başlangıç ve bitiş tarihleri</label>
                    <div class="input-daterange input-group block" id="datepicker">
                        <input type="text" class="form-control" name="start" id="created_date" />
                        <span class="input-group-addon">/</span>
                        <input type="text" class="form-control" name="end" id="expire_date"/>
                    </div>
                </div>


                <div class="checkbox">
                    <input type="hidden" id="company" value="Lemonat Bilişim Hizmetleri Ltd.">
                    <input type="hidden" id="company_industry" value="Teknoloji">
                    <label>
                        <input type="checkbox" name="is_secret" id="is_secret">İlanda şirketin bilgilerini gizli tut.
                    </label>
                    <span class="help-block">Bu seçimi yaparsanız şirket adı, adresi ve şirket detayı sayfası adaylara gösterilmeyecektir.</span>
                </div>

                <hr />

                <a class="btn btn-primary pull-right" href="jobs_detail.html" role="button"> Yeni Arayışı Başlat </a>
                <a class="btn btn-link pull-right" href="jobs_new.html" role="button"> Taslak olarak kaydet</a>


            </form>
        </div>

        <!-- Job Preview Widget -->
        <div class="col-lg-3 col-lg-offset-1 col-sm-4">
            <div data-spy="affix" data-offset-top="190" data-offset-bottom="200">
                <label>İlan ön izlemesi</label>
                <div class="jPreview" id="job_preview_holder">
                    <div class="company"> <span id="j_company"> Lemonat Bilişim Hizmetleri Ltd. Şti. </span> </div>
                    <div class="headline"> <span id="j_headline"> Backend Java Developer </span> </div>
                    <div class="photo"> <img src="/assets/img/office_photo.jpg" /> </div>
                    <div class="location"> <span id="j_location"> Beyoğlu / İstanbul </span> </div>
                    <div class="description"> <span id="j_short_description"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,. </span> </div>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}


{% block bottom-scripts %}
    <script src="/assets/js/jobs_new.min.js"></script>
{% endblock %}
