{% extends "mail-templates/base.html" %}
{% block content %}
<p>Merhaba</p>
<p>
    Bu mesajı <a href="http://www.harikais.com" target="_blank">Harika İş</a> web sitesinde
    şifremi unuttum bağlantısına tıkladığınız için aldınız. Eğer bu işlemi siz başlatmadıysanız
    bu mesajı yoksayabilirsiniz. Hesabınız güvendedir.
</p>
<p>
    Şifrenizi sıfırlamak için <a href="{{ link }}" target="_blank">bu bağlantıya</a> tıklayınız.
    Eğer bağlantı çalışmıyorsa aşağıdaki metni kopyalayarak web tarayıcınızın adres kısmına
    yazarak da ulaşabilirsiniz.
</p>
<p>{{ link }}</p>
{% endblock %}
