{% extends "mail-templates/base.html" %}
{% block content %}
<p>Harika İş'e hoş geldiniz!</p>

<p>Thank you for signing up at Harika İş. As we just launched our Beta, we need your feedback to
    improve the product and be better able to help you find your dream job!</p>

<p>- How do you feel about selecting and ranking your skils?<br/>
    - What should we improve on the content of your card?<br/>
    - What kind of jobs should we add to Cocoon?
</p>

<p>Please send us your feedback and feel free to ask any questions you have at merhaba@harikais.com</p>

{% endblock %}
